$colors: (
        black: #000000,
        soft-brown: #b0a295,
        bold-wave: #557a95,
        wave: #7395ae,
        chocolate: #938e94,
        bold-chocolate: #5d5c61,
        white: #ffffff,
);